-- Ajout des colonnes manquantes
ALTER TABLE users ADD COLUMN IF NOT EXISTS nom VARCHAR(255);
ALTER TABLE users ADD COLUMN IF NOT EXISTS prenom VARCHAR(255);
ALTER TABLE users ADD COLUMN IF NOT EXISTS nom_complet VARCHAR(255);
ALTER TABLE users ADD COLUMN IF NOT EXISTS photo_profil VARCHAR(500);
ALTER TABLE users ADD COLUMN IF NOT EXISTS avatar_url VARCHAR(500);
